{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='img.png') }}">
<p>"{{ post.title }}" &nbsp Author: {{ post.user.username }}</p>
<p>{{ post.content }}</p>

{% for comment in comments %}
<p>"{{ comment.content }}" &nbsp <small>Author:{{ comment.user.username }}</small></p>
{% endfor %}
<form method="POST" action="{{ url_for('post_comment', post_id=post.id) }}">
{{ form.hidden_tag() }}
<div class="">
{{ form.comment.label }} {{ form.comment }}
{% for error in form.comment.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}
</div>
<div class="">
{{ form.submit() }}
</div>
</form>

{% endblock content %}
