{% block content %}
<form method="POST" action="">
  {{ form.csrf_token }}
  {{ form.username.label }} {{ form.username }}
  {{ form.email.label }} {{ form.email }}
  {{ form.password.label }} {{ form.password }}
  {{ form.confirm_password.label }} {{ form.confirm_password }}
  <input type="submit" value="Register">
  
  {% for error in form.username.errors %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}

</form>
{% endblock content %}
